{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    header {
        text-align: center;
        padding: 20px;
        background-color: #f0f0f0;
    }
    section {
        max-width: 800px;
        margin: 0 auto;
    }
</style>
<header>
    <h1>WE ARE STUDENTS</h1>
    <p>Our Terms and Conditions</p>
</header>

<section class="py-5 px-3">
    <h2>Terms And Conditions</h2>
    <p>
        Copyright © 2024 khan Mohammed Aadil wearestudents.in All rights reserved. No part of this website may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the copyright holder, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law..
    </p>
    <p>If you have any questions or concerns regarding our Privacy Policy, please contact us at <a href="mailto:aadilkhan6727@gmail.com">aadilkhan6727@gmail.com</a>.</p>
</section>
{% endblock %}