*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
.env*
__pycache__
dist
docs
logs
env
src/{{ project_name }}/settings/local.py
src/node_modules
tenurdu/media
tenurdu/static/CACHE
stats
Dockerfile