{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    header {
        text-align: center;
        padding: 20px;
        background-color: #f0f0f0;
    }
    section {
        max-width: 800px;
        margin: 0 auto;
    }
</style>
<header>
    <h1>WE ARE STUDENTS </h1>
    <p>Empowering Minds, Enriching Lives</p>
</header>

<section class="py-5 px-3">
    <h2>About Us</h2>
    <p>We are students website is specially designed for students of Urdu medium which provides the best guidance for students along with previous years board papers, maths videos and also answers to questions of all subjects.</p>

    <p>Our aim is to enhance students' ability to solve question papers and face questions before their exam so that they can improve themselves, get good marks in their final exam.</p>

    <p># They can watch videos to learn mathematics easily.  </p>
    <p># Students can download question papers for practice.  </p>
    <p># Use all for free here for better results. </p>

    <h3>Our Vision</h3>
    <p>To be a leading platform for accessible and innovative education, inspiring individuals to reach their full potential and contribute to a better society.</p>

    <h3>Our Values</h3>
    <ul>
        <li>Excellence: Striving for the highest standards in education.</li>
        <li>Diversity: Embracing and celebrating the richness of individual differences.</li>
        <li>Innovation: Adapting and evolving to meet the changing needs of learners.</li>
        <li>Community: Fostering a supportive and collaborative learning environment.</li>
    </ul>

    <p>Thank you for choosing We Are Students. We look forward to being a part of your educational journey.</p>
</section>
{% endblock %}