{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5 py-5">
        <h2>Contact Form Entries</h2>

        {% if contact_entries %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover my-5">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="min-width: 10px">#</th>
                        <th scope="col" style="min-width: 200px">Name</th>
                        <th scope="col" style="min-width: 300px">Email</th>
                        <th scope="col" style="min-width: 400px">Message</th>
                        <th scope="col" style="min-width: 10px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in contact_entries %}
                        <tr>
                            <th scope="row">{{ entry.id }}</th>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.email }}</td>
                            <td>{{ entry.message }}</td>
                            <td>
                                <form method="post" action="{% url 'delete_contact_entry' entry.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p class="my-5">No contact entries available.</p>
        {% endif %}
    </div>
{% endblock %}
